* {
    /* Colors for intractable objects */
    -primary-accent: #02bbee;
    -secondary-accent: #607D8B;
    -primary-gradient-accent: #3502ee;
    -primary-accent-gradient: linear-gradient(to bottom right, -primary-accent, -primary-gradient-accent);

    -primary-team-blue: #02bbee;
    -secondary-team-blue: #0245ee;
    -primary-team-gradient-blue: linear-gradient(to bottom right, -primary-team-blue, -secondary-team-blue);

    -primary-team-red: #ee3502;
    -secondary-team-red: #eeab02;
    -primary-team-gradient-red: linear-gradient(to bottom right, -primary-team-red, -secondary-team-red);

    -primary-team-black: #212121;
    -secondary-team-black: #263238;
    -primary-team-gradient-black: linear-gradient(to bottom left, -primary-team-black, -secondary-team-black);

    -primary-team-neutral: #9E9E9E;
    -secondary-team-neutral: #607D8B;
    -primary-team-gradient-neutral: linear-gradient(to bottom left, -primary-team-neutral, -secondary-team-neutral);

    /* Colors for errors */
    -error: #D50000;
}