.all,
.root {
    -fx-background-color: -primary-background;
    -fx-border-color: transparent;
}

.text-area,
.text-field,
.text,
.label,
.button,
.radio-button{
    -fx-text-fill: -primary-text;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: -primary-accent-gradient;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.button-full {
    -fx-background-color: -primary-accent-gradient;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.radio-button .radio{
    -fx-background-color: -interact-background;
}

.radio-button:selected .radio .dot{
    -fx-background-color: -primary-text;
}

.text-field {
    -fx-background-color: -interact-background;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: -primary-accent-gradient;
    -fx-border-width: 2px;
    -fx-text-fill: -primary-text;
    -fx-prompt-text-fill: -secondary-text;
    -fx-background-insets: 1;
}

.labelTitle {
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}

.card-full {
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-width: 4;
    -fx-border-color: -team-gradient;
    -fx-background-color: -secondary-background;
}

.card {
    -fx-background-radius: 16;
    -fx-border-width: 4;
    -fx-border-color: transparent;
    -fx-background-color: -team-gradient;
}

.clickable {
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.clickable:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.message {
    -fx-background-radius: 16;
    -fx-background-color: -team-color;
}

.team-card {
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-width: 4;
    -fx-background-color: -secondary-background;
    -fx-border-color: -team-gradient;
}

.button-circle {
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
}

.split-pane .split-pane-divider{
    -fx-background-color: -secondary-accent;
    -fx-background-radius: 4px;
    -fx-max-width: 4px;
    -fx-min-width: 4px;
    -fx-pref-width: 4px;
}

.table-view,
.table-view:row-selection .column-header-background,
.table-view:row-selection .column-header-background .filler{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: -interact-background;
    -fx-border-width: 2;
}

.scroll-bar .thumb {
    -fx-background-color: -secondary-accent;
    -fx-background-radius: 16px;
}

.scroll-bar,
.scroll-bar .track {
    -fx-background-color: -interact-background;
    -fx-background-radius: 16px;
}

.corner{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: -interact-background;
    -fx-background-radius: 16;
}